.chessboard{
    width: 640px;
    height: 640px;
    background-color: rgb(221, 91, 231);

    display: grid;
    grid-template-rows: repeat(8,80px);
    grid-template-columns: repeat(8,80px);

}

.chessboard .blacktiles{
    width: 80px;
    height: 80px;
    background-color: rgb(157, 71, 71);
}

.chessboard .whitetiles{
    width: 80px;
    height: 80px;
    background-color: white;
}