.blacktiles{
    width: 80px;
    height: 80px;
    background-color: rgb(157, 71, 71);
    display: grid;
    place-content: center;
}

.whitetiles{
    width: 80px;
    height: 80px;
    background-color: white;
    display: grid;
    place-content: center;
}

.whitetiles .pieces{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

.blacktiles .pieces{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

.whitetiles .pieces:hover{
    cursor: grab;
}

.blacktiles .pieces:hover{
    cursor: grab;
}
